body {
  text-align:center;
  background: linear-gradient(179deg, #394373 0%, #394373 23%, #000000 100%, #020202 100%);
}

#grid {
  width: 600px;
  height: 600px;
  float: left;
  margin-right: 0px;
}

#container {
  display: inline-block;
  background: rgba( 255, 255, 255, 0.2 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 1px );
  -webkit-backdrop-filter: blur( 1px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

#rules {
  float:left;  
  border: 5px solid white;
  width: 500px;
  min-height: 398px;
  margin-right: 20px;
  background-color: white;
}

ul {
  text-align: left;
  list-style: none;
}

li {
  margin-bottom: 10px;
  border-bottom: 1px solid #e6e5e5;
}

#title {
  color: white;
  margin-bottom: 0px;
}

#grid {
  background: rgba( 255, 255, 255, 0.2 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 6.5px );
  -webkit-backdrop-filter: blur( 6.5px );
  border-radius: 1px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  margin-bottom:5px;
  margin-left:5px;
  margin-right:5px;
}

#score {
  color: white;
}

p {
  color: white;
  margin-top: 5px;
}

button {
  margin-bottom: 10px;
}

.cell {
  width: 12px;
  height: 12px;
  background-color: black;
  float: left;
}